<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px ">
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let item of data" class="card">
      <div class="card-title">
        <h1><b>{{nameText}}: </b>{{ item.name }}</h1>
      </div>
      <p class="card-category"><b>Created:</b> {{item.created |date:'mediumDate'}}</p>
      <p class="card-category"><b>Edited:</b> {{item.edited |date:'mediumDate'}}</p>
      <p>

      </p>
      <ui-button [label]="label1"></ui-button>
      <ui-button [label]="label2"></ui-button>
    </div>
  </div>
</div>
