.ui-button {
  color: currentColor;
  cursor: pointer;
}

.ui-button:not([disabled]):hover {
  background-color: rgba(158, 158, 158, 0.2);
}

.ui-button[disabled] {
  color: rgba(0, 0, 0, 0.26);
  background-color: transparent;
}
